---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				{{ data.app_subtitle }}
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Despre noi
			</h2>
		</header>
		<div class="content">
			<p>
				<strong>River Resort Baisoara</strong> va ofera spre inchiriere, un complex turistic, orientat cu precadere inspre relaxare, teambuilding-uri și evenimente de grup.
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Va asteptam cu drag							
						</h2>
					</header>
					<div class="content">
						<p>
							<strong>River Resort Baisoara</strong> pune la dispoziţia vizitatorilor un număr total de 32 locuri cazare şi o curte in suprafaţă de peste 5.000mp, cu multiple funcţiuni (piscină încălzită şi iluminată, spaţiu joacă pentru copii, terase la apă, locuri barbeque/foişoare, access la pădure).
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope"> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
							<li class="icon solid fa-phone"><a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
							<li class="icon solid fa-gift">Parcare Gratuita</li>
							<li class="icon solid fa-signal">WiFi Gratuit</li> 
						</ul>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii de cazare
						</h2>
					</header>
					<div class="content">

						<p>
							<strong>Cabana River</strong> - imobil pentru maximum 13 persoane, cu o suprafata utila de peste 250 mp. 
							<br />
							<strong>Cabana Forest</strong> - imobil pentru 15 de persoane, cu o suprafaţă utilă de peste 200 mp.
							<br />
							Restaurant &bull; Piscina &bull; Teambuilding &bull; Loc de joaca pentru copii &bull; Centru spa/wellness
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									Cabanele se inchiriaza pentru minimum 2 nopti, doar pe baza de contract si garantie.
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>
